.button {
    color: $button-text-color;
    border-width: 1px;
    padding: 10px;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
    @include border-radius(4px);
    @include user-select(none);

    &:focus {
        outline: none;
    }

    &.yawn {
        background-color: $button-yawn-background;
        border-color: $button-yawn-border-color;
        color: $button-yawn-text-color;

        &:hover {
            background-color: $button-yawn-background-hover;
            border-color: $button-yawn-border-color-hover;
        }
    }

    &.success {
        background-color: $button-success-background;
        border-color: $button-success-background;

        &:hover {
            background-color: $button-success-background-hover;
            border-color: $button-success-background-hover;
        }
    }

    &.error {
        background-color: $button-error-background;
        border-color: $button-error-background;

        &:hover {
            background-color: $button-error-background-hover;
            border-color: $button-error-background-hover;
        }
    }
}

/*
.button {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #fff;
    border: 1px solid #fff;
    font-weight: normal;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}
.button:hover {color: #fff;}
.button.yawn {background-color: #fff; border-color: #ccc; color: #555;}
.button.yawn:hover {background-color: #eee; border-color: #bbb;}
.button.primary {background-color: #218cd0; border-color: #218cd0;}
.button.primary:hover {background-color: #38a5ea; border-color: #38a5ea;}
.button.success {background-color: #64a023; border-color: #64a023;}
.button.success:hover {background-color: #76ac3d; border-color: #76ac3d;}
.button.error {background-color: #b10000; border-color: #b10000;}
.button.error:hover {background-color: #d03b3b; border-color: #d03b3b;}
.button.mirror {border: 1px solid #fff; transition: background-color 0.25s ease, border-color 0.25s ease;}
.button.mirror:hover {background-color: #218cd0; border-color: #218cd0;}
a.button {text-decoration: none;}
a.button:hover {text-decoration: none;}
*/
