.quick-connect-page {
    .submit-row-buttons {
        display: none;
    }
}

.dialog {
    .templates {
        .template {
            color: $text-color;
            border: 1px solid $quick-connect-save-border-color;
        }
    }
}
