.dialogs {
    display: none;
}

.glass {
    position: fixed;
    background-color: rgba(0, 0, 0, .3);
    display: none;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;

    .dialog {
        position: absolute;
        right: 0;
        left: 0;
        margin: 0 auto;
        width: 80%;
        z-index: 2000;
        display: none;

        .content {
            color: #000;
            background-color: #111;
            border: 1px solid #555;
            box-shadow: 0 5px 10px rgba(0,0,0,0.2);
            @include border-radius(4px);

            .body {
                padding: 8px;
            }

            .header {
                padding: 8px;
                min-height: 20px;
                border-bottom: 1px solid #555;

                .title {
                    color: $text-color;
                    font-size: 20px;
                    /*font-weight: 600;*/
                    margin: 0px;
                }

                .close {
                    float: right;
                    padding: 4px;
                    color: #aaa;
                    transition: color 0.15s ease;

                    &:hover {
                        color: #fff;
                        cursor: pointer;
                    }
                }
            }

            .footer {
                padding: 8px;
                border-top: 1px solid #555;
                text-align: right;

                .button {
                    margin-left: 10px;
                    min-width: 100px;
                }
            }
        }
    }
}
