
.inline-control-group {
    display: flex;

    .control {
        padding-right: 10px;

        &:last-child {
            padding-right: 0px;
        }
    }
}

.control {
    margin-bottom: 20px;

    &:focus {
        outline: none;
    }

    /*
    @at-root input {
        @extend .control;
        background-color: #ddd;
    }
    */

    input {
        width: 100%;
        padding: 10px 12px;
        border: 1px solid $form-input-border-color;
        background-color: $form-input-background;
        font-size: 14px;
        @include border-radius(4px);
    }

    label {
        color: $text-color;
        font-size: 18px;
        display: block;
    }

    button {
        width: 100%;
    }

    /*
    &.inline-control {
        display: inline-block;
        width: auto;

        input {

        }
    }
    */
}

.submit-row {
    flex: 1;
    text-align: right;

    &.status {
        display: flex;

        & > div {
            display: flex;

            &:first-child {
                flex: 1;
                flex-grow: 1;
                display: flex;
                align-items: flex-end;
                margin-left: 4px;
                color: $footer-bar-status;
                text-align: left;
            }
        }
    }

    button {
        margin-left: 8px;
        min-width: 150px;

        &:last-child {
            margin-right: 4px;
        }
    }
}
