
.inline-control-group {
    display: flex;

    .control {
        padding-right: 10px;

        &:last-child {
            padding-right: 0px;
        }
    }
}

.control {
    margin-bottom: 20px;

    &:focus {
        outline: none;
    }

    /*
    @at-root input {
        @extend .control;
        background-color: #ddd;
    }
    */

    input {
        width: 100%;
        padding: 10px 12px;
        border: 1px solid $form-input-border-color;
        background-color: $form-input-background;
        font-size: 14px;
        @include border-radius(4px);
    }

    label {
        color: $text-color;
        font-size: 18px;
        display: block;
    }

    button {
        width: 100%;
    }

    /*
    &.inline-control {
        display: inline-block;
        width: auto;

        input {

        }
    }
    */
}

.submit-row {
    text-align: right;

    button {
        margin-left: 4px;
        min-width: 150px;
        right: none;
    }

    &:last-child {
        right: 0px;
    }
}
