.fresh-template {
    display: none;
}

.templates {
    display: flex;
    flex-wrap: wrap;

    .template {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: $text-color;
        font-size: 18px;
        margin: 4px;
        padding: 4px;
        min-width: 125px;
        min-height: 75px;
        @include border-radius(4px);
        @include user-select(none);

        @at-root .templates.delete .template {
            color: $text-color;
            border: 1px solid $template-delete-border-color;
        }

        &.dark {
            color: $text-color;
        }
    }
}
