<div class="my-connections-page">
    <div class="content">
        <div class="connections"></div>

        <div class="fresh-connection">
            <div class="connection">
                <div class="title">
                    <div class="tools">
                        <span class="tip"></span>
                        <i class="fa fa-clone clone"></i>
                        <i class="fa fa-cog edit"></i>
                    </div>
                    <div class="name"></div>
                </div>
                <ul class="details">
                    <li class="host"></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="bar submit-row status">
            <div><!-- placeholder for status text set from hover events --></div>
            <button class="button error delete">Delete</button>
        </div>
        <div class="action-bar">
            <div class="bar confirm">
                <div class="action-bar-content">
                    <div class="message">Please choose which connections to delete.</div>
                    <div class="actions">
                        <button class="button yawn cancel">Cancel</button>
                        <button class="button error confirm">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
