<div class="quick-connect-page">
    <input class="id" type="hidden"/>
    <input class="name" type="hidden"/>
    <input class="template" type="hidden"/>

    <div class="inline-control-group col-2">
        <div class="control">
            <label>Host</label>
            <input class="host" type="text" placeholder="Host Name of IP Address">
        </div>
        <div class="control">
            <label>Port</label>
            <input class="port" type="text" placeholder="Port (default 22)">
        </div>
    </div>

    <div class="inline-control-group col-2">
        <div class="control">
            <label>Private Key</label>
            <input class="private-key" type="text" placeholder="Private key file for authentication">
        </div>
        <div class="control">
            <button class="button success private-key-browse" style="margin-top: 20px;">Browse</button>
        </div>
    </div>

    <div class="submit-row">
        <button class="button yawn save">Save</button>
        <button class="button success connect">Connect</button>
    </div>

    <div class="dialogs">
        <div class="save-connection">
            <div class="title">Save Connection</div>
            <div class="content">
                <input class="id" type="hidden"/>
                <input class="host" type="hidden"/>
                <input class="port" type="hidden"/>
                <div class="control">
                    <label>Name</label>
                    <input class="name" type="text" placeholder="Connection Name">
                </div>
                <div class="templates"></div>
            </div>
            <div class="footer">
                <button class="button yawn dialog-cancel">Cancel</button>
                <button class="button success dialog-success">Save</button>
            </div>
        </div>
    </div>
</div>
