<div class="settings-page">
    <div class="content">
        <div class="inline-control-group col-2">
            <div class="control">
                <label>Putty Path</label>
                <input class="putty-path" type="text" placeholder="">
            </div>
            <div class="control">
                <button class="button success putty-browse" style="margin-top: 20px;">Browse</button>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="bar submit-row">
            <button class="button success save">Save</button>
        </div>
    </div>
</div>
