<div class="templates-page">
    <div class="submit-row">
        <button class="button success create-template">Create</button>
    </div>

    <div class="dialogs">
        <div class="create-template-dialog">
            <div class="title">Create Template</div>
            <div class="content">
                <div class="control-group">
                    <div class="control">
                        <label>Template Name</label>
                        <input class="template-name" type="text" placeholder="Examples: Prod, QA, Dev">
                    </div>
                </div>
                <div class="control-group">
                    <div class="control">
                        <label>Background Color</label>
                        <input class="template-background" type="text" placeholder="Example: #ff00ff">
                    </div>
                </div>
            </div>
            <div class="footer">
                <button class="button yawn foobar">Cancel</button>
                <button class="button success foobar">Ok</button>
            </div>
        </div>
    </div>
</div>
